@using AdvMasterDetails.Models
@model List<Orders>
@using GridMvc.Html
@{
    ViewBag.Title = "Orders";
}
<h2>Orders</h2>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>
<div style="padding:10px 0; text-align:right">
    <input id="addnew" type="button" value="Add Order" class="btn btn-info" style="padding:10px 20px"  onClick='redirectOnClick()'/>
    <script>
        function redirectOnClick(){
            document.location ="Index";
        }
    </script>
</div>

<div class ="Code-Cut">
    @Html.Grid(Model).Columns(Column =>
{
    Column.Add(c => c.OrderId).Titled("Order Id").Filterable(true);
    Column.Add(c=>c.OrderNo).Titled("Order No").Filterable(true);
    Column.Add(c=>c.OrderDate).Titled("Order Date").Filterable(true);
    Column.Add(c=>c.Description).Titled("Order Details").Filterable(true);
    Column.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.OrderId }));
    Column.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)

        .RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.OrderId }));
}).WithPaging(10).Sortable(true)

</div>
